<h2>Character Create</h2>

<form action="/characters/create" method="POST">

    <label>
        Name: <input type="text" name="name">
    </label>
    <label>
        Occupation: <input type="text" name="occupation">
    </label>
    <br>
    <label>
        Weapon: <input type="text" name="weapon">
    </label>
    <label>
        Debt : <input type="checkbox" name="debt" checked="true" value="true">
    </label>


    </div>

    <input type="submit" value="Create character" class="btn-dark btn">
</form>